<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{title}}</title>
</head>
<body>
    <h1 id="title">{{title}}</h1>
    <p id="url_title" hidden>{{url_title}}</p>
    <input id="input"/> <button id="button">search</button>
    <div>
        {{description|safe}}
    </div>
    <script>
        var input = document.querySelector("#input")
        var button = document.querySelector("#button")
        var url_title = document.querySelector("#url_title").innerText
        button.addEventListener('click',
            function()
            {
                var hwd = input.value
                window.location = hwd
                }
            )
    </script>
</body>

</html>
